/*This doc contains small changes to theme */

/* center exclamation icon in modal */
.h4 {
  text-align: center;
}

/* place shinyglide next buttons */
.next-screen {
    position: absolute;
    top: 0px; right: 0px;
}

/* place shinyglide prev buttons */
.prev-screen {
    position: absolute;
    top: 0px; left: 0px;
}

